In [1]:
##### Global Module

import numpy as np
import pandas as pd
import os
import warnings

warnings.simplefilter('ignore')

In [2]:
##### Path and Read

train_df = pd.read_csv('data/train_data.csv')
test_df = pd.read_csv('data/test_features.csv')
print(train_df.shape)
print(test_df.shape)
#train_df.head()

(113, 22)
(33, 21)

In [3]:
##### Tirmming 1

drop_li = ['email_address']
commu_li = ['from_messages', 'from_poi_to_this_person', 'from_this_person_to_poi',
            'shared_receipt_with_poi', 'to_messages']
stock_li = ['exercised_stock_options', 'restricted_stock', 'restricted_stock_deferred']
cash_li  = ['bonus', 'deferral_payments', 'deferred_income', 'director_fees', 'expenses',
            'loan_advances', 'long_term_incentive', 'other', 'salary']
total_li = ['total_payments', 'total_stock_value']
poi_li   = ['poi']

train_df = train_df.drop(drop_li, axis=1)

##### Trimming 2: weird BELFER ROBERT
weird_idx = train_df[train_df['name'] == 'BELFER ROBERT'].index
train_df = train_df.drop(weird_idx, axis=0)

train_df

,name,bonus,deferral_payments,deferred_income,director_fees,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,...,long_term_incentive,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
0,RICE KENNETH D,1750000.0,NaN,-3504386.0,NaN,19794175.0,46950.0,18.0,42.0,4.0,...,1617011.0,174839.0,True,2748364.0,NaN,420636.0,864.0,905.0,505050.0,22542539.0
1,SKILLING JEFFREY K,5600000.0,NaN,NaN,NaN,19250000.0,29336.0,108.0,88.0,30.0,...,1920000.0,22122.0,True,6843672.0,NaN,1111258.0,2042.0,3627.0,8682716.0,26093672.0
2,SHELBY REX,200000.0,NaN,-4167.0,NaN,1624396.0,22884.0,39.0,13.0,14.0,...,NaN,1573324.0,True,869220.0,NaN,211844.0,91.0,225.0,2003885.0,2493616.0
3,KOPPER MICHAEL J,800000.0,NaN,NaN,NaN,NaN,118134.0,NaN,NaN,NaN,...,602671.0,907502.0,True,985032.0,NaN,224305.0,NaN,NaN,2652612.0,985032.0
4,CALGER CHRISTOPHER F,1250000.0,NaN,-262500.0,NaN,NaN,35818.0,144.0,199.0,25.0,...,375304.0,486.0,True,126027.0,NaN,240189.0,2188.0,2598.0,1639297.0,126027.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,STABLER FRANK,500000.0,NaN,NaN,NaN,NaN,16514.0,NaN,NaN,NaN,...,NaN,356071.0,False,511734.0,NaN,239502.0,NaN,NaN,1112087.0,511734.0
109,BROWN MICHAEL,NaN,NaN,NaN,NaN,NaN,49288.0,41.0,13.0,1.0,...,NaN,NaN,False,NaN,NaN,NaN,761.0,1486.0,49288.0,NaN
110,PICKERING MARK R,300000.0,NaN,NaN,NaN,28798.0,31653.0,67.0,7.0,0.0,...,NaN,NaN,False,NaN,NaN,655037.0,728.0,898.0,1386690.0,28798.0
111,HAUG DAVID L,NaN,NaN,NaN,NaN,NaN,475.0,19.0,4.0,7.0,...,NaN,NaN,False,2217299.0,NaN,NaN,471.0,573.0,475.0,2217299.0
112,SHAPIRO RICHARD S,650000.0,NaN,NaN,NaN,607837.0,137767.0,1215.0,74.0,65.0,...,NaN,705.0,False,379164.0,NaN,269076.0,4527.0,15149.0,1057548.0,987001.0

In [4]:
##### Trim commu 1

commu_sub_df = train_df[commu_li]
for i in range(len(commu_li)):
    print(f'{commu_li[i]}: {list(commu_sub_df[commu_li[i]].nlargest(5))}')

from_messages: [14368.0, 6759.0, 4343.0, 2742.0, 2681.0]
from_poi_to_this_person: [528.0, 305.0, 251.0, 240.0, 204.0]
from_this_person_to_poi: [411.0, 387.0, 386.0, 194.0, 194.0]
shared_receipt_with_poi: [4527.0, 3962.0, 3920.0, 3669.0, 3639.0]
to_messages: [15149.0, 12754.0, 8305.0, 7315.0, 7259.0]

In [5]:
##### Trim commu 2: wipe out 'from_messages' outlier

commu_sub_df['from_messages'][commu_sub_df['from_messages'] == commu_sub_df['from_messages'].max()] = np.nan
commu_sub_df = commu_sub_df.fillna(value=commu_sub_df.mean(axis=0, skipna=True), axis = 0)
commu_sub_df

,from_messages,from_poi_to_this_person,from_this_person_to_poi,shared_receipt_with_poi,to_messages
0,18.0000,42.0,4.000000,864.000000,905.000000
1,108.0000,88.0,30.000000,2042.000000,3627.000000
2,39.0000,13.0,14.000000,91.000000,225.000000
3,497.9375,64.8,40.092308,1111.369231,2156.061538
4,144.0000,199.0,25.000000,2188.000000,2598.000000
...,...,...,...,...,...
108,497.9375,64.8,40.092308,1111.369231,2156.061538
109,41.0000,13.0,1.000000,761.000000,1486.000000
110,67.0000,7.0,0.000000,728.000000,898.000000
111,19.0000,4.0,7.000000,471.000000,573.000000
112,1215.0000,74.0,65.000000,4527.000000,15149.000000

In [8]:
##### Trim stock 1

stock_sub_df = train_df[stock_li]
print('Big 5')
for i in range(len(stock_li)):
    print(f'{stock_li[i]}: {list(stock_sub_df[stock_li[i]].nlargest(5))}')
print('Small 5')
for i in range(len(stock_li)):
    print(f'{stock_li[i]}: {list(stock_sub_df[stock_li[i]].nsmallest(5))}')

Big 5
exercised_stock_options: [34348384.0, 30766064.0, 19794175.0, 19250000.0, 15364167.0]
restricted_stock: [14761694.0, 13847074.0, 8453763.0, 6843672.0, 4131594.0]
restricted_stock_deferred: [-44093.0, -72419.0, -94556.0, -126027.0, -153686.0]
Small 5
exercised_stock_options: [9803.0, 17378.0, 28798.0, 59539.0, 81042.0]
restricted_stock: [44093.0, 75838.0, 94556.0, 126027.0, 126027.0]
restricted_stock_deferred: [-560222.0, -472568.0, -409554.0, -329825.0, -153686.0]

In [10]:
##### Trim stock 2

stock_sub_df = train_df[stock_li].fillna(value=0)
stock_sub_df

     exercised_stock_options  restricted_stock  restricted_stock_deferred
0                 19794175.0         2748364.0                        0.0
1                 19250000.0         6843672.0                        0.0
2                  1624396.0          869220.0                        0.0
3                        0.0          985032.0                        0.0
4                        0.0          126027.0                        0.0
..                       ...               ...                        ...
108                      0.0          511734.0                        0.0
109                      0.0               0.0                        0.0
110                  28798.0               0.0                        0.0
111                      0.0         2217299.0                        0.0
112                 607837.0          379164.0                        0.0

[112 rows x 3 columns]

In [11]:
##### Trim cash 1

cash_sub_df = train_df[cash_li]
print('Big 5')
for i in range(len(cash_li)):
    print(f'{cash_li[i]}: {list(cash_sub_df[cash_li[i]].nlargest(5))}')
print('Small 5')
for i in range(len(cash_li)):
    print(f'{cash_li[i]}: {list(cash_sub_df[cash_li[i]].nsmallest(5))}')

Big 5
bonus: [8000000.0, 7000000.0, 5600000.0, 4175000.0, 3100000.0]
deferral_payments: [2964506.0, 2869717.0, 2157527.0, 1848227.0, 1295738.0]
deferred_income: [-1042.0, -4167.0, -5104.0, -10800.0, -17500.0]
director_fees: [125034.0, 119292.0, 113784.0, 112492.0, 109298.0]
expenses: [228763.0, 228656.0, 178979.0, 137767.0, 127017.0]
loan_advances: [81525000.0, 400000.0]
long_term_incentive: [5145434.0, 3600000.0, 2234774.0, 2035380.0, 1920000.0]
other: [10359729.0, 2818454.0, 2660303.0, 1829457.0, 1573324.0]
salary: [1111258.0, 1072321.0, 655037.0, 510364.0, 440698.0]
Small 5
bonus: [70000.0, 100000.0, 200000.0, 200000.0, 250000.0]
deferral_payments: [7961.0, 10259.0, 16586.0, 27610.0, 50591.0]
deferred_income: [-3504386.0, -3081055.0, -1386055.0, -1386055.0, -934484.0]
director_fees: [17500.0, 36666.0, 101250.0, 102492.0, 103750.0]
expenses: [148.0, 475.0, 600.0, 1279.0, 1413.0]
loan_advances: [400000.0, 81525000.0]
long_term_incentive: [71023.0, 93750.0, 100000.0, 125000.0, 135836.0]
other: [2.0, 152.0, 162.0, 176.0, 272.0]
salary: [477.0, 6615.0, 63744.0, 80818.0, 85274.0]

In [12]:
##### Trim cash 2: delete 'loan_advances'

del cash_li[5]
cash_sub_df = train_df[cash_li].fillna(value=0)
cash_sub_df

,bonus,deferral_payments,deferred_income,director_fees,expenses,long_term_incentive,other,salary
0,1750000.0,0.0,-3504386.0,0.0,46950.0,1617011.0,174839.0,420636.0
1,5600000.0,0.0,0.0,0.0,29336.0,1920000.0,22122.0,1111258.0
2,200000.0,0.0,-4167.0,0.0,22884.0,0.0,1573324.0,211844.0
3,800000.0,0.0,0.0,0.0,118134.0,602671.0,907502.0,224305.0
4,1250000.0,0.0,-262500.0,0.0,35818.0,375304.0,486.0,240189.0
...,...,...,...,...,...,...,...,...
108,500000.0,0.0,0.0,0.0,16514.0,0.0,356071.0,239502.0
109,0.0,0.0,0.0,0.0,49288.0,0.0,0.0,0.0
110,300000.0,0.0,0.0,0.0,31653.0,0.0,0.0,655037.0
111,0.0,0.0,0.0,0.0,475.0,0.0,0.0,0.0
112,650000.0,0.0,0.0,0.0,137767.0,0.0,705.0,269076.0